/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  padding: 20px 20px;
  background-color: #21204e;
  color: white;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.navbar-brand h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-actions,
.text {
  display: flex;
  align-items: center;
}

.add-task-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #1e6b17;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.logout{
  background-color: cadetblue;
  padding: 5px;
  border: none;
  text-decoration: none;
  color: black;
  border-radius: 2px;
}
.add-task-button:hover {
  background-color: #23a529;
}

.text span {
  margin-right: 10px;
}

.text button,
.text a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.text button:hover,
.text a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    
   
  }

  .navbar-actions {
    margin-top: 10px;
  }

  .text {
    flex-direction: column;
    margin-top: 10px;
  }

  .text span {
    margin-right: 0;
  }

  .text button,
  .text a {
    margin-left: 0;
    margin-top: 5px;
  }
}
